@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}

polygon {
    transform-origin: center;
}

.roll {
    animation: roll 1s;
}